@page
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Principal Encargado</title>
    <link rel="stylesheet" href="~/css/estilos.css" />
</head>
<body id="fijo">
    <header>
        <img src="~/assets/filter-solid.svg" alt="" id="iconofiltros-movil" />
        <label for="">Sistema de Reportes de Equipo Dañado</label>
        <span>
            <img class="config-grande"
                 src="~/assets/settings-3-fill (1).svg"
                 alt="" />
        </span>
    </header>
    <div id="opcionCerrarSesion">
        <label for="">Cerrar sesión</label>
    </div>
    <!-- MENU DE FILTROS PARA VISTA MOVIL -->
    <div id="filtros-flotante">
        <img src="~/assets/xmark-solid.svg" alt="" id="btn-cerrarFiltros" />
        <span>
            <label for="">Por fecha</label>
            <input type="date" id="fecha2" />
        </span>
        <span class="span-porEstado">
            <label for="">Por estado</label>
            <button>Por atender</button>
            <button>Atendido</button>
            <button>Todos</button>
        </span>
        <span class="span-porOrden">
            <label for="">Por orden</label>
            <button>Más recientes</button>
            <button>Más antiguos</button>
        </span>
        <button id="btn-Aplicar">Aplicar</button>
    </div>

    <main id="principal-encargado">
        <div class="filtros">
            <input type="date" id="fecha-Filtro" />
            <select name="" id="combo-estado">
                <option value="a">Por atender</option>
                <option value="">Atendidos</option>
                <option value="">Todos</option>

            </select>
            <select name="" id="combo-tiempo">
                <option value="">Más recientes</option>
                <option value="">Más antiguos</option>
            </select>
        </div>
        <ul id="lista-reportesEncargado">
        </ul>
    </main>
</body>
</html>
<script>
    const listaReportes = document.getElementById('lista-reportesEncargado');
    let url = 'https://sredapi.websitos256.com/api/Reporte/reportesxatender';
    const select = document.getElementById("combo-tiempo");
    const selectEstado = document.getElementById("combo-estado");


    selectEstado.addEventListener("change", (event) => {
        const texto = event.target.options[event.target.selectedIndex].text;
        let fecha = obtenerFechaSeleccionada();
        if (texto == "Por atender") {
            if (fecha) {
                url = `https://sredapi.websitos256.com/api/reporte/reportesxatender?fecha=${fecha}`;
            } else {
                url = 'https://sredapi.websitos256.com/api/reporte/reportesxatender';
            }
        } else if (texto == "Atendidos") {
            if (fecha) {
                url = `https://sredapi.websitos256.com/api/reporte/reportesatendidos?fecha=${fecha}`;
            } else {
                url = 'https://sredapi.websitos256.com/api/reporte/reportesatendidos';
            }
        }
        else {
            url = `https://sredapi.websitos256.com/api/Reporte/reportes`;
            inputFecha.value = '';
        }
        obtenerReportes(url);
    });



    select.addEventListener('change', (event) => {
        const texto = event.target.options[event.target.selectedIndex].text;
        if (texto == "Más recientes") {
            url = 'https://sredapi.websitos256.com/api/Reporte/reportesxmasrecientes'
            inputFecha.value = '';
        } else if (texto == "Más antiguos") {
            url = 'https://sredapi.websitos256.com/api/Reporte/reportesxmasantiguos'
            inputFecha.value = '';

        }
        obtenerReportes(url);
    });

    const inputFecha = document.getElementById('fecha-Filtro');
    inputFecha.addEventListener("change", () => {
        let fecha = obtenerFechaSeleccionada();
        url = `https://sredapi.websitos256.com/api/Reporte/reportes?fecha=${fecha}`;
        obtenerReportes(url);
    });

    function obtenerFechaSeleccionada() {
        if (inputFecha && inputFecha.value) {

            const fechaSeleccionada = inputFecha.value;

            const [year, month, day] = fechaSeleccionada.split('-');


            const fecha = new Date(Date.UTC(year, month - 1, day));


            const yearFinal = fecha.getUTCFullYear();
            const monthFinal = String(fecha.getUTCMonth() + 1).padStart(2, '0');
            const dayFinal = String(fecha.getUTCDate()).padStart(2, '0');


            return `${yearFinal}/${monthFinal}/${dayFinal}`;
        }
        return null;
    }

    listaReportes.innerHTML = '';
    async function obtenerReportes(url) {
        try {

            listaReportes.innerHTML = '<label style="color:black">Cargando...</label>';


            const response = await fetch(url);


            if (!response.ok) {

                if (response.status === 404) {

                    listaReportes.innerHTML = '<label style="color:black">No se encontraron reportes...</label>';



                    inputFecha.value = '';

                    return;
                }


                listaReportes.innerHTML = '<label style="color:black">No se pudieron obtener los reportes. Verifica tu conexión.</label>';
                return;
            }


            const data = await response.json();


            if (data.length === 0) {
                listaReportes.innerHTML = '<label style="color:black">No se encontraron Reportes</label>';
            } else {

                listaReportes.innerHTML = '';
                data.forEach(rep => {
                    const li = document.createElement('li');
                    li.id = rep.id;

                    //SPAN ESTADO DE REPORTE
                    const span = document.createElement('span');
                    span.classList.add("estado");

                    const divEstado = document.createElement('div');
                    divEstado.classList.add("circuloVerde");

                    const lblEstado = document.createElement('label');
                    lblEstado.classList.add("lbl-estado");

                    //TEXTO DEL LABEL DE ESTADO DE REPORTE
                    lblEstado.textContent = 'Completado';

                    span.appendChild(divEstado);
                    span.appendChild(lblEstado);


                    //LABEL PARA MARCAR COMPLETADO
                    const lblMarcar = document.createElement('label');
                    lblMarcar.classList.add("marca-completado");
                    lblMarcar.textContent = 'Marcar Completado';


                    //SPAN PROBLEMA
                    const spanProblema = document.createElement('span');
                    spanProblema.classList.add('problema');

                    const img = document.createElement('img');
                    img.src = '/assets/fix.svg';

                    const lblDesc = document.createElement('label');
                    lblDesc.textContent = 'El monitor no enciende.';

                    spanProblema.appendChild(img);
                    spanProblema.appendChild(lblDesc);

                    
                    
                    //LABEL DE EQUIPO Y AULA
                    const lblInfo = document.createElement('label');
                    lblInfo.classList.add("inf");
                    lblInfo.textContent = `${rep.equipo} de ${rep.aula}`;


                    li.appendChild(span);
                    li.appendChild(lblMarcar);
                    li.appendChild(spanProblema);
                    li.appendChild(lblInfo);

                    listaReportes.appendChild(li);

                    //const span = document.createElement('span');
                    //span.id = rep.id;
                    //const labelNum = document.createElement('label');
                    // labelNum.classList.add("num");
                    // labelNum.textContent = `${rep.folio} reportado por ${rep.noControlTrabajo}`;

                    // const labelEquipo = document.createElement('label');
                    // labelEquipo.textContent = rep.equipo;

                    // const labelAula = document.createElement('label');
                    // labelAula.textContent = rep.aula;

                    // const labelDesc = document.createElement('label');
                    // labelDesc.textContent = rep.descripcion;
                    // const labelCompletado = document.createElement('label');
                    // labelCompletado.classList.add("lbl-completado");
                    // labelCompletado.textContent = "Marcar Completado";
                    // const labelFecha = document.createElement("label");
                    // const [year, mes, dia] = rep.fechaCreacion.split("-");
                    // labelFecha.textContent = `${dia}/${mes}/${year}`;
                    // span.appendChild(labelNum);
                    // span.appendChild(labelFecha);

                    // span.appendChild(labelEquipo);
                    // span.appendChild(labelAula);
                    // span.appendChild(labelDesc);
                    // li.appendChild(span);
                    // if (rep.estado == 0) {

                    //     li.appendChild(labelCompletado);

                    // };

                    // listaReportes.appendChild(li);
                });
                eventoClick();
            }
        } catch (error) {

            listaReportes.innerHTML = '<label style="color:black">No se pudieron obtener los reportes. Verifica tu conexión.</label>';
            console.error('Error:', error);
        }
    };
    function eventoClick() {

        const labels = document.querySelectorAll('.lbl-completado');
        labels.forEach(label => {

            label.addEventListener('click', function () {

                const reporteId = parseInt(this.previousElementSibling.id);
                actualizarReporte(reporteId);
                label.remove();
                url = 'https://sredapi.websitos256.com/api/Reporte/reportesxatender';

            });
        });
    };
    async function actualizarReporte(reporteId) {
        try {

            const response = await fetch(`https://sredapi.websitos256.com/api/Reporte/${reporteId}`, {
                method: 'PUT',
                headers: {
                    'Content-Type': 'application/json'
                }
            });
            if (!response.ok) {
                throw new Error(`Error en la solicitud: ${response.statusText}`);
            }


        } catch (error) {

            console.error('Error al cambiar el estado del reporte:', error);

        }


    };

    obtenerReportes(url);

    // PARA QUE NO ELIGA LAS DOS OPCIONES DEL MISMO FILTRO
    let filtrosMovil = document.getElementById("filtros-flotante");
    let botonSeleccionado = null;
    let botonSeleccionado1 = null;
    let spanxOrden = document.querySelector(".span-porOrden");
    let spanxEstado = document.querySelector(".span-porEstado");

    filtrosMovil.addEventListener("click", function (e) {
        if (e.target.tagName == "BUTTON" && e.target.id != "btn-Aplicar") {
            let boton = e.target;

            let actual = window.getComputedStyle(boton).backgroundColor;

            if (boton.parentElement.className == "span-porEstado") {
                if (botonSeleccionado1) {
                   
                    botonSeleccionado1 = null; 
                }
                spanxOrden.lastElementChild.previousElementSibling.style.backgroundColor =
                    "#D9DFE8";
                spanxOrden.lastElementChild.previousElementSibling.style.color =
                    "black";
                spanxOrden.lastElementChild.style.backgroundColor = "#D9DFE8";
                spanxOrden.lastElementChild.style.color = "black";

                if (botonSeleccionado && botonSeleccionado !== boton) {
                  
                    botonSeleccionado.style.backgroundColor = "#D9DFE8";
                    botonSeleccionado.style.color = "black";
                }

                if (actual === "rgb(217, 223, 232)") {
                    boton.style.backgroundColor = "#335183";
                    boton.style.color = "#ffffff";
                } else {
                    boton.style.backgroundColor = "#D9DFE8";
                    boton.style.color = "black";
                }
               
                botonSeleccionado = boton;
            } else if (boton.parentElement.className == "span-porOrden") {
                if (botonSeleccionado) {
                   
                    botonSeleccionado = null; 
                }
                spanxEstado.lastElementChild.previousElementSibling.previousElementSibling.style.backgroundColor =
                    "#D9DFE8";
                spanxEstado.lastElementChild.previousElementSibling.previousElementSibling.style.color =
                    "black";
                spanxEstado.lastElementChild.previousElementSibling.style.backgroundColor =
                    "#D9DFE8";
                spanxEstado.lastElementChild.previousElementSibling.style.color =
                    "black";
                spanxEstado.lastElementChild.style.backgroundColor = "#D9DFE8";
                spanxEstado.lastElementChild.style.color = "black";

                if (botonSeleccionado1 && botonSeleccionado1 !== boton) {
                   
                    botonSeleccionado1.style.backgroundColor = "#D9DFE8";
                    botonSeleccionado1.style.color = "black";

                }

                if (actual === "rgb(217, 223, 232)") {
                    boton.style.backgroundColor = "#335183";
                    boton.style.color = "#ffffff";
                } else {
                    boton.style.backgroundColor = "#D9DFE8";
                    boton.style.color = "black";
                }

                botonSeleccionado1 = boton;
            }
        }
    });

    //BOTON CERRAR FILTROS MOVIL
    let btnCerrarFiltros = document.getElementById("btn-cerrarFiltros");
    let btnfiltrosMovil = document.getElementById("iconofiltros-movil");

    btnfiltrosMovil.addEventListener("click", function () {
        filtrosMovil.style.display = "flex";
    });

    btnCerrarFiltros.addEventListener("click", function () {
        filtrosMovil.style.display = "none";
    });

    document.getElementById("btn-Aplicar").addEventListener("click", function () {
        const fechaInput = document.getElementById("fecha2")
        const fechaValor = fechaInput.value;
        let endpointBase = '';


        if (botonSeleccionado) {
            switch (botonSeleccionado.textContent.trim()) {
                case "Por atender":
                    endpointBase = 'https://sredapi.websitos256.com/api/reporte/reportesxatender';
                    break;
                case "Atendido":
                    endpointBase = 'https://sredapi.websitos256.com/api/reporte/reportesatendidos';
                    break;
                case "Todos":
                    endpointBase = 'https://sredapi.websitos256.com/api/reporte/reportes';
                    break;
            }
        }
        if (fechaValor) {
            const [year, month, day] = fechaValor.split('-');
            const fechaFormateada = `${year}/${month}/${day}`;

            if (endpointBase) {
                url = `${endpointBase}?fecha=${fechaFormateada}`;
            } else {
                url = `https://sredapi.websitos256.com/api/reporte/reportes?fecha=${fechaFormateada}`;
            }
        } else if (endpointBase) {

            url = endpointBase;
        }


        if (botonSeleccionado1) {
            if (fechaValor) {
                fechaInput.value = '';
            }
            switch (botonSeleccionado1.textContent.trim()) {
                case "Más recientes":
                    url = 'https://sredapi.websitos256.com/api/Reporte/reportesxmasrecientes';
                    break;
                case "Más antiguos":
                    url = 'https://sredapi.websitos256.com/api/Reporte/reportesxmasantiguos';
                    break;
            }
        }
        fechaInput.value = '';
        obtenerReportes(url);
        btnCerrarFiltros.click();
    });

    let btnCerrarSesion = document.querySelector(".config-grande");
    let opcionCerrarSesion = document.getElementById("opcionCerrarSesion");

    btnCerrarSesion.addEventListener("click", function (e) {
        e.stopPropagation();

        if (opcionCerrarSesion.style.visibility === "hidden") {
            opcionCerrarSesion.style.visibility = "visible";
        } else {
            opcionCerrarSesion.style.visibility = "hidden";
        }
    });

    document.addEventListener("click", function (e) {
        if (opcionCerrarSesion.style.visibility == "visible") {
            opcionCerrarSesion.style.visibility = "hidden";
        }
    });

</script>