@page
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Agregar Equipo Lab</title>
    <link rel="stylesheet" href="~/css/estilos.css" />
</head>
<body>
    <header class="body-headers">
        <a href="/Admin/Equipos/AgregarEquipo(Tipo)">
            <img src="~/assets/arrow-left-solid.svg" alt="" id="btn-regresar" />
        </a>
        <a href="#" for="" id="btn-accion" class="sig-btn">Agregar</a>
    </header>
    <main id="main-agregarEquipo">
        <label id="eq-aula" for="">Aula</label>
        <div id="grid1">
        </div>
    </main>
</body>
</html>
<script>
    function cambiarColorAlSeleccionar() {
        let opciones = document.querySelectorAll(".opcion");

        opciones.forEach((e) => {
            e.addEventListener("click", function () {

                opciones.forEach(opcion => opcion.classList.remove("opcion-seleccionada"));


                e.classList.add("opcion-seleccionada");
            });
        });
    }
    const div = document.getElementById("grid1");
    async function cargarEquipos() {

        div.innerHTML = '<label>Cargando...</label>';
        try {

            const response = await fetch('https://sredapi.websitos256.com/api/Aula');
            const data = await response.json();
            div.innerHTML = '';
            data.forEach(aula => {

                const span = document.createElement('span');
                span.classList.add('opcion');
                span.id = aula.id;

                const picture = document.createElement('picture');
                const source = document.createElement('source');
                const mimeType = "image/webp";
                source.srcset = `/assets/obrero (1).webp`;
                source.type = mimeType;
                picture.appendChild(source);


                const imgFallback = document.createElement('img');
                imgFallback.src = `/assets/obrero (1).png`;
                imgFallback.alt = "icono";


                picture.appendChild(imgFallback);
                const labelNombre = document.createElement('label');
                nombreTipo = aula.nombre;
                labelNombre.textContent = aula.nombre;


                span.appendChild(picture);
                span.appendChild(labelNombre);

                div.appendChild(span);


            });
            cambiarColorAlSeleccionar();

        } catch (error) {
            console.error('Error:', error);
        }
    };
    const btn = document.getElementById("btn-accion");
    let equipo = localStorage.getItem('equipo');
            const equipoObj = JSON.parse(equipo);
    btn.addEventListener("click", function () {

        let opcion = document.querySelectorAll(".opcion-seleccionada");
        if (opcion.length == 0) {
            window.alert("Debe seleccionar un aula para el equipo");
        } else {
            let id = opcion[0].id;
            if (equipo) {
            
                equipoData = {
                    id: 0,
                    numero: equipoObj.numero,
                    tipoId: parseInt(equipoObj.id),
                    aulaId: id
                };
                agregarEquipo();

            }
        }
    });

    async function agregarEquipo() {
        try {
           
            const response = await fetch('https://sredapi.websitos256.com/api/Equipo', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(equipoData)
            });
            if (!response.ok) {
                throw new Error(`Error en la solicitud: ${response.statusText}`);
            }
            localStorage.removeItem('equipo');

            window.location.replace("/Admin/Equipos/Index");



        } catch (error) {

            console.error('Error al agregar equipo:', error);
            document.getElementById("excepcion").textContent = `Error: ${error.message}`;
        }
    };
    cargarEquipos();
</script>
