@page
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Editar Equipo Tipo</title>
    <link rel="stylesheet" href="~/css/estilos.css" />
</head>
<body>
    <header class="body-headers">
        <a href="/Admin/Equipos/EditarEquipo">
            <img src="~/assets/arrow-left-solid.svg" alt="" id="btn-regresar" />
        </a>
        <a 
           class="sig-btn">
            <img src="~/assets/arrow-right-solid.svg" alt="" />
        </a>
    </header>
    <main id="main-agregarEquipo">
        <label for="" id="eq-tipo">Tipo de equipo</label>
        <div id="grid">
            
        </div>
    </main>
</body>
</html>
<script>
    function cambiarColorAlSeleccionar() {
        let opciones = document.querySelectorAll(".opcion");

        opciones.forEach((e) => {
            e.addEventListener("click", function () {

                opciones.forEach(opcion => opcion.classList.remove("opcion-seleccionada"));


                e.classList.add("opcion-seleccionada");
            });
        });
    }


    const div = document.getElementById("grid");
    let nombreTipo = '';
    async function cargarEquipos() {

        div.innerHTML = '<label>Cargando...</label>';
        try {

            const response = await fetch('https://sredapi.websitos256.com/api/Tipo');
            const data = await response.json();
            div.innerHTML = '';
            data.forEach(aula => {

                const span = document.createElement('span');
                span.classList.add('opcion');
                span.id = aula.id;
                span.setAttribute('data-nombre', aula.nombre);

                const picture = document.createElement('picture');
                const source = document.createElement('source');
                const mimeType = "image/jpg";
                source.srcset = `data:${mimeType};base64,${aula.icono}`;
                source.type = aula.mimeType;
                picture.appendChild(source);


                const imgFallback = document.createElement('img');
                imgFallback.src = `data:${mimeType};base64,${aula.icono}`;
                imgFallback.alt = "icono";


                picture.appendChild(imgFallback);
                const labelNombre = document.createElement('label');

                labelNombre.textContent = aula.nombre;


                span.appendChild(picture);
                span.appendChild(labelNombre);

                div.appendChild(span);


            });
            cambiarColorAlSeleccionar();

        } catch (error) {
            console.error('Error:', error);
        }
    }
    //const sig = document.getElementById("btn-accion");
    const sig = document.querySelector(".sig-btn");
    sig.addEventListener("click", function () {

        let opcion = document.querySelectorAll(".opcion-seleccionada");
        if (opcion.length == 0) {
            window.alert("Debe seleccionar un tipo de equipo");
        } else {
            nombreTipo = opcion[0].getAttribute('data-nombre');
            let equipo = localStorage.getItem('equipo');
            let id = opcion[0].id;
            const equipoObj = JSON.parse(equipo);
            if (equipo) {
                equipo = {
                    id: equipoObj.idEquipo,
                    numero: equipoObj.numero,
                    tipo: nombreTipo,
                    idTipo:id

                };
                localStorage.setItem('equipo', JSON.stringify(equipo));
                console.log(equipo);
                window.location.replace("/Admin/Equipos/EditarEquipo(Lab)");

            }
        }
    });
    cargarEquipos();


</script>
