

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="../css/Estilos.css" />
    <link rel="manifest" href="/manifest.json" />

</head>
<body id="body-logIn">
    @RenderSection("header", required: false)

    <main>
        @RenderBody()
    </main>

</body>
<script>
    document.addEventListener("DOMContentLoaded", async () => {
        if (localStorage.getItem('numControl')) {
            localStorage.removeItem('numControl')
        }
        if (localStorage.getItem('aula')) {
            localStorage.removeItem('aula')
        }
        if (localStorage.getItem('equipo')) {
            localStorage.removeItem('equipo')
        }
        if ('serviceWorker' in navigator) {
            navigator.serviceWorker.register('/ServiceWorker.js');

        }
        const resp = await fetch("/token");
        if (resp.ok) {

            const data = await resp.json();
            if (data.token["http://schemas.xmlsoap.org/ws/2005/05/identity/claims/name"]) {

                localStorage.setItem('numControl', data.token["http://schemas.xmlsoap.org/ws/2005/05/identity/claims/name"]);
            }


            if (data.token["http://schemas.microsoft.com/ws/2008/06/identity/claims/role"] === "Admin") {
                window.location.href = `/Admin/Aulas`;

            } else {
                window.location.href = `/${data.token["http://schemas.microsoft.com/ws/2008/06/identity/claims/role"]}`;

            }
        }
    });
</script>
</html>