

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="../css/Estilos.css" />
    <link rel="manifest" href="/manifest.json">
</head>
<body id="body-logIn">
    @RenderSection("header", required:false)
   
    <main>
        @RenderBody()
    </main>

</body>
<script>
    if ('serviceWorker' in navigator) {
        navigator.serviceWorker.register('/ServiceWorker.js?v=3');
    }
</script>
</html>