@page
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ver Detalles</title>
    <link rel="stylesheet" href="~/css/estilos.css" />
</head>
<body id="body-detalles">
    <header class="body-headers">
        <a href="/Invitado/">
            <img src="~/assets/arrow-left-solid.svg" alt="" id="btn-regresar" />
        </a>
    </header>
    <main>
        <label for="" class="title">Detalles del reporte</label>
        <div id="detalles">
            <div>
                <label for="">Fecha</label>
                <span>
                    <img src="~/assets/calendar-solid.svg" alt="" />
                    <label for="" id="fecha"></label>
                </span>
            </div>
            <div>
                <label for="">Folio</label>
                <span>
                    <img src="~/assets/file-solid.svg" alt="" />
                    <label for="" id="folio"></label>
                </span>
            </div>
            <div>
                <label for="">Estado</label>
                <span>
                    <img src="~/assets/wrench-solid.svg" alt="" />
                    <label for="" id="estado"></label>
                </span>
            </div>
            <div>
                <label for="">Número de control</label>
                <span>
                    <img src="~/assets/user-solid.svg" alt="" />
                    <label for="" id="numControl"></label>
                </span>
            </div>
            <div>
                <label for="">Aula</label>
                <span>
                    <img src="~/assets/door-open-solid.svg" alt="" />
                    <label for="" id="aula"></label>
                </span>
            </div>
            <div>
                <label for="">Tipo de equipo</label>
                <span>
                    <img src="~/assets/desktop-solid.svg" alt="" />
                    <label for="" id="tipo"></label>
                </span>
            </div>
            <div>
                <label for="">Número asignado del equipo</label>
                <span>
                    <img src="~/assets/list-ol-solid.svg" alt="" />
                    <label for="" id="numAsignado"></label>
                </span>
            </div>
            <div class="ultimo">
                <label for="">Descripción</label>
                <span>
                    <img src="~/assets/circle-exclamation-solid.svg" alt="" />
                    <label for="" id="descripcion">
                    </label>
                </span>
            </div>
        </div>
    </main>
</body>
</html>

<script>
    const reporteSeleccionado = localStorage.getItem('reporteSeleccionado');
    const repId = JSON.parse(reporteSeleccionado);
    let id = Number(repId.idseleccionado);


    let fechaReporte = document.getElementById('fecha');
    let folioReporte = document.getElementById('folio');
    let estadoReporte = document.getElementById('estado');
    let numControlReporte = document.getElementById('numControl');
    let aulaReporte = document.getElementById('aula');
    let tipoEquipoReporte = document.getElementById('tipo');
    let numAsignadoEq = document.getElementById('numAsignado');
    let descripcionReporte = document.getElementById('descripcion');


    async function GetDetalles() {
        const response = await fetch(`https://sredapi.websitos256.com/api/Reporte/${id}`);

        if (response.ok) {
            const data = await response.json();
            if (data) {

                fechaReporte.textContent = data.fechaCreacion;
                folioReporte.textContent = data.folio;

                if (data.estado == 0) {
                    estadoReporte.textContent = 'Pendiente';
                }
                else {
                    estadoReporte.textContent = 'Completado';
                }

                numControlReporte.textContent = data.noControlTrabajo;
                aulaReporte.textContent = data.aula;
                tipoEquipoReporte.textContent = data.equipo;
                numAsignadoEq.textContent = data.numeroEquipo;
                descripcionReporte.textContent = data.descripcion;


            }
            else if (response.status === 401 || response.status === 403) {
                folioReporte.textContent = "No tienes acceso";
            }
            else {
                folioReporte.textContent = "Ocurrio un error intenta denuevo";

            }
        }

        GetDetalles();

</script>
