@page
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ver Reportes Enviados</title>
    <link rel="stylesheet" href="../css/Estilos.css" />
</head>
<body id="fijo">
    <header>
        <label for="">Sistema de Reportes de Equipo Dañado</label>
        <span>
            <img class="config-grande"
                 src="../assets/settings-3-fill (1).svg"
                 alt="" />
        </span>
    </header>
    <div id="opcionCerrarSesion">
        <label for="" id="logout">Cerrar sesión</label>
    </div>
    <main id="principal-encargado">
        <label for="" class="titulo-repEnviados">Reportes enviados:</label>
        <ul id="lista-reportesEncargado">
        </ul>
        <div id="boton-Agregar">
            <a href="/Invitado/SeleccionarLab">
                <img src="../assets/add-line.svg" alt="" />
            </a>
        </div>
    </main>
</body>
</html>

<script>
    if ('serviceWorker' in navigator) {
        navigator.serviceWorker.register('/ServiceWorker.js');
      
    }
    let btnCerrarSesion = document.querySelector(".config-grande");
    let opcionCerrarSesion = document.getElementById("opcionCerrarSesion");

    btnCerrarSesion.addEventListener("click", function (e) {
        e.stopPropagation();

        if (opcionCerrarSesion.style.visibility === "hidden") {
            opcionCerrarSesion.style.visibility = "visible";
        } else {
            opcionCerrarSesion.style.visibility = "hidden";
        }
    });
    const logout=document.getElementById("logout");
    logout.addEventListener("click",async ()=>{
        const resp =await fetch("/logout");
        if(resp.ok){
            window.location.href = `/Index`;

        }

    })
    document.addEventListener("click", function (e) {
        if (opcionCerrarSesion.style.visibility == "visible") {
            opcionCerrarSesion.style.visibility = "hidden";
        }
    });

    async function cargarReportes() {

        const listaReportes = document.getElementById('lista-reportesEncargado');
        listaReportes.innerHTML = '<label>Cargando...</label>';
        try {
            const num = localStorage.getItem('numControl');
            const response = await fetch(`https://sredapi.websitos256.com/api/Reporte/pornumerocontrol/${num}`);
            const data = await response.json();
            listaReportes.innerHTML = '';
            if(data){
            
            data.forEach(aula => {

                const li = document.createElement('li');

                const span = document.createElement("span");
                span.classList.add("estado");

                const div = document.createElement("div");

                const label = document.createElement("label");
                label.classList.add("lbl-estado");
                if (aula.estado == 1) {

                div.classList.add("circuloVerde");
                    label.textContent = "Completado";
                } else {
                    
                    div.classList.add("circuloRojo");
                    label.textContent = "Pendiente";
                    label.style.color = "#FAB12F";
                }

                span.appendChild(div);
                span.appendChild(label);

                const span2 = document.createElement("span");
                span2.classList.add("problema", "rep-enviados");

                const img = document.createElement("img");
                img.src = "../assets/fix.svg";
                img.alt = "";

                const label2 = document.createElement("label");

                label2.textContent = aula.descripcion;
                span2.appendChild(img);
                span2.appendChild(label2);

                const label3 = document.createElement("label");
                label3.classList.add("inf");
                label3.textContent = `${aula.equipo} de ${aula.aula}`;

                li.appendChild(span);
                li.appendChild(span2);
                li.appendChild(label3);
                listaReportes.appendChild(li);

                eventoVerDetalles();
            });
            }else{
                listaReportes.innerHTML = '<label>No has Realizado Reportes Aun</label>';
            }

        } catch (error) {
            console.error('Error:', error);
        }
    }

        function eventoVerDetalles() {
            const items = document.querySelectorAll('li');

            items.forEach(item => {
                item.addEventListener('click', function () {

                    let idSeleccionado = item.id;

                    reporteSeleccionado = {
                        idseleccionado: parseInt(idSeleccionado),
                    };
                    localStorage.setItem('reporteSeleccionado', JSON.stringify(reporteSeleccionado));
                    console.log(reporteSeleccionado);
                    window.location.replace("/Invitado/Detalles");
                });
            });
        }

    cargarReportes();
</script>